 :root{
    --general-height:100%;
    --bg-chat: #222E35;
    --bg-contatti: #111B21;
    --bg-content-chat: #008069;
   
 }
 
 /*.sfondo{
    background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%);
    height: 80px;
    
 }*/

span i{
    padding: 5px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .color-chat{
    color: black;
  }
  .jc-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
   /* background-image: url(../img/mine.jpg);*/
    position: relative;
  }
  .contenuto-left{
   /*background-color: var(--bg-contatti);*/
    height: 100%;
    padding-bottom: 75px;
    
    
  }
  .w-40{
    width: 40%;
  }
  .contenuto-right{
    background-image: url(../img/mine.jpg);
    
  }
  .w-60{
    width: 60%;
  }
  .contact-list {
    height: calc(100% - 80px); 
    overflow-y: auto; 
  }
  .chats:hover {
    background-color: var(--bg-chat);
    cursor: pointer;
}
.chats.selected {
    /*background-color: var(--bg-chat);*/
}
  .contact-list::-webkit-scrollbar {
    width: 6px; 
    height: 2px; 
  }
  
  .contact-list::-webkit-scrollbar-track {
    background: #f4f4f4; /* colore di sfondo della scrollbar */
  }
  
  .contact-list::-webkit-scrollbar-thumb {
    background: #888; /* colore del "pulsante" della scrollbar */
  }
  
  .contact-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* colore del "pulsante" della scrollbar quando viene passato sopra con il mouse */
  }
  .smile {
    width: 70px;
    
  }
  .micro {
    width: 70px;
  }
  .jc-inp{
    width: calc(100% - 140px);
    height: 50px;
  }
  
  .profilo-left {
    height: 80px;
  /* background-color: var(--bg-chat);*/
  }
 
  .header-profilo{
   position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: var(--bg-chat);
    z-index: 1000;
    color: white;
  }
  .icon-left{
    display: none;
  }
.contenuto-message {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.contenuto-message p{
    width: fit-content;
    max-width: 300px;

}
.notifiche {
    background-color: #53BDEB; 
    height: 80px;

}
.padd-notifiche {
    padding: 0;
    
}
{
    padding: 10px;
}
.sent-message {
    background-color: #D9FDD3;
    margin-left: auto;
    
}
.received-message{
    background-color:white;
    margin-right: auto;
}
.input-chat{
    height: 60px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
.Theme{
  background-color: lightgrey;
    color: black
}*/
.lightTheme {
  background-color: white;
  color: black;
}
.bgblack{
  background-color: var(--bg-contatti);
  color: white;
}
/*************/
.ellipsis-button:hover {
  color:#b1a6f0;
}
.showmenu{
  display: flex !important;
}
.item-dropdown {
    width: 200px;
    height: 100px;
    position: absolute;
    right: -20px;
    top: 20px;
    background-color: white;
    z-index: 1000;
    display: none !important;
}
.item-dropdown.usercontrol{
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
}
.icons-acount button,
.controls-icon{
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  padding: 10px;
  font-size: 1.3rem;
}
/*.controls-icon button {
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    padding: 0;
}*/
.themeselection.item-dropdown {
  width: fit-content;
  height: fit-content;
  margin:0 auto;
}

@media screen and (max-width:865px){

  .contenuto-left {
      width: 50%;
  }

  .contenuto-right {
      width: 50%;
  }
}

@media screen and (max-width:684px) {
  #app {
      width: 100%;
      height: 100%;
      margin:0;
  }
  .contenuto-left {
      width: 100%;
  }

  .contenuto-right {
      width: 100%;
  }

  .icon-left {
      display:inline-block;
  }
}