 :root{
    --general-height:100%;
    --bg-chat: #222E35;
    --bg-contatti: #111B21;
    --bg-content-chat: #008069;
   
 }
 
 /*.sfondo{
    background: linear-gradient(
    #009688 0%,
    #009688 130px,
    #d9dbd5 130px,
    #d9dbd5 100%);
    height: 80px;
    
 }*/

span i{
    padding: 5px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  p {
    margin-bottom: 1rem;
    font-size: 20px;
    color: white;
  }
  .p-chat{
    color: black;
  }
  .jc-wrapper{
    height: 100%;
    overflow: hidden;
    background-image: url(../img/mine.jpg);
    
    
  }
  .contenuto-left{
    background-color: var(--bg-contatti);
    height: 100%;
    padding-bottom: 75px;
    color: white;
  }
  .contact-list {
    height: calc(100% - 80px); 
    overflow-y: auto; 
  }
  .chats:hover {
    background-color: var(--bg-chat);
    cursor: pointer;
}
.chats.selected {
    background-color: var(--bg-chat);
}
  .contact-list::-webkit-scrollbar {
    width: 6px; 
    height: 2px; 
  }
  
  .contact-list::-webkit-scrollbar-track {
    background: #f4f4f4; /* colore di sfondo della scrollbar */
  }
  
  .contact-list::-webkit-scrollbar-thumb {
    background: #888; /* colore del "pulsante" della scrollbar */
  }
  
  .contact-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* colore del "pulsante" della scrollbar quando viene passato sopra con il mouse */
  }
  .smile {
    width: 70px;
    
  }
  .micro {
    width: 70px;
  }
  .jc-inp{
    width: calc(100% - 140px);
    height: 50px;
  }
  /*.foot-input{
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eff1f4;
    padding: 0.4rem 0.5rem;
  }*/
  .profilo-left {
    height: 80px;
    background-color: var(--bg-chat);
  }
  .contenuto-chat{
    
  }
  .header-profilo{
    position: fixed;
    top: 0;
    height: 80px;
    min-width: 100%;
    background-color: var(--bg-chat);
    z-index: 1000;
    color: white;
  }
  .icon-left{
    display: none;
  }
.contenuto-message {
    height: calc(100% - 80px);
    overflow-y: auto;
}
.contenuto-message p {
    width: fit-content;
    max-width: 300px;

}
.notifiche {
    background-color: #53BDEB; 
    height: 80px;

}
.padd-notifiche {
    padding: 0;
    
}
.icons span{
    padding: 10px;
}
.sent-message {
    background-color: #D9FDD3;
    margin-left: auto;
    
}
.received-message{
    background-color:white;
    margin-right: auto;
}
.input-chat{
    height: 60px;
}

.icons-acount button{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-width: 0;
    padding: 10px;
    font-size: 1.3rem;
}


@media screen and (max-width:865px){

  .contenuto-left {
      width: 50%;
  }

  .contenuto-right {
      width: 50%;
  }
}

@media screen and (max-width:684px) {
  #app {
      width: 100%;
      height: 100%;
      margin:0;
  }
  .contenuto-left {
      width: 100%;
  }

  .contenuto-right {
      width: 100%;
  }

  .icon-left {
      display:inline-block;
  }
}