<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/boolzapp.css">
    <title>Boolsapp</title>
</head>
<body>
    
    <div id="app" class="sfondo w-100 vh-100">
        <div class="container-fluid jc-wrapper">
            <div class="row h-100">
                <!-- Lato sinistro -->
               <div class="contenuto-left col-12 col-md-4">
                <!-- Informazioni sull'account -->
                <div class="account">
                    <div class="profilo-left d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="avatar" src="./img/avatar_io.jpg" alt="">
                            <h5>Sofia</h5>
                        </div>
                        <div class="icons-acount">
                            <span ><i class="fa-solid fa-circle-notch"></i></span>
                            <span><i class="fa-solid fa-message"></i></span>
                            <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                    </div>
                  <!-- Avviso sull'attivazione delle notifiche -->
                  <div class="container d-flex align-items-center notifiche p-2">
                        <span class="pe-2"><i class="fa-solid fa-bell-slash"></i></span>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <span><a href="">Attiva notifiche desktop</a></span>
                        </div>
                    </div>
                  <!-- barra di ricerca-->
                  <div class="container">
                    <div class="input-group my-2">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username"
                             aria-describedby="addon-wrapping" v-model="chatSearch">
                    </div>
                    </div>
                </div>
                  <!-- contact-list -->
                 <div class="contact-list">
                   <div v-for="contact in filteredContacts()" :key="contact.id"
                    class="chats contact d-flex align-items-center m-0 py-2 justify-content-between">
                        <div class="d-flex" @click="setActiveContact(contact)">
                            <img :src="contact.avatar" :alt="contact.name" class="avatar">
                            <div>
                                <h3>{{ contact.name }}</h3>
                                <p v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length - 1].message }}</p>
                            </div>
                        </div>
                        <div class="flex-column">
                            <p v-if="contact.messages.length > 0">{{ contact.messages[contact.messages.length - 1].date.slice(11).slice(0, 5)}}</p>
                        </div>
                    </div>
                 </div>
               </div>
                <!-- contact-list -->
                 <!--// Lato sinistro// -->

                 <!--lato destro-->
                <div class="col-12 col-md-8 h-100" v-if="activeContact">
                    <!---Sezione header-chat--->
                    <div class=" row contenuto-chat flex-grow-1 d-flex flex-column justify-content-between h-100">
                        <div class="col-12 header-profilo d-flex align-items-center justify-content-between p-3">
                            <div class="d-flex align-items-center">
                                <img class="avatar" :src="activeContact.avatar" alt="active contact avatar">
                                <div class="details">
                                    <h2>{{ activeContact.name }}</h2>
                                    <p>Ultimo accesso oggi alle</p>
                                </div>
                            </div>
                            <div class="icons">
                                <span class="fa-solid fa-magnifying-glass"></span>
                                <span class="fa-solid fa-paperclip"></span>
                                <span class="fa-solid fa-ellipsis-vertical"></span>
                            </div>
                        </div>
                        <!---////Sezione header-chat///--->

                        <!---Sezione contenuto-chat--->
                            <div class=" col-12 contenuto-message py-5 px-3 px-md-5">
                                <p class="py-3 my-5 px-3 rounded p-chat " v-for="message in activeContact.messages"
                                :class="message.status === 'sent' ? 'sent-message' : 'received-message'">{{ message.message }}
                                <span class="text-end text-muted">{{message.date.slice(11).slice(0, 5)}}</span>
                                </p>
                             </div>
                             <!---///Sezione contenuto///-chat--->

                             <!---Sezione input-chat--->
                            <div class="input-group mb-3 border p-2">
                                <div class="smile fs-5 d-flex justify-content-around align-items-center text-dark-emphasis">
                                    <span class="fa-regular fa-face-smile"></span>
                                    <span class="fa-solid fa-paperclip"></span>
                                </div>
                            <input type="text" class="form-control jc-inp rounded-3" placeholder="Scrivi un messaggio"
                             aria-label="Recipient's username" aria-describedby="basic-addon2" v-model="newMessage" @keyup.enter="sendMessage">
                             <div class="micro d-flex justify-content-center align-items-center text-dark-emphasis">
                            <span class="fs-5 fa-solid fa-microphone"></span>
                            </div>
                        </div>
                        <!---////Sezione input-chat///--->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/boolzapp.js"></script>
</body>
</html>